.about {
  text-align: center;
}

button {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 25px;
  width: 100px;
  margin-bottom: 30px;
}

.homeMessage {
  color: teal;
  text-align: center;
}

img {
  width: 300px;
}

.mainTitle {
  color: red;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
  margin: 10px;
  align-items: center;
}

.projname {
  color: teal;
}

